/* IMPOSTAZIONI GENERALI */
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(sfondo.png);
}
/* HEADER */
header div{
    margin: auto;
    border-top: 1px rgb(33, 148, 148);
    border-left: 1px rgb(33, 148, 148);
    border-right: 1px rgb(33, 148, 148);
    width: 350px;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: rgb(33, 148, 148);
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
div img{
    padding: 5%;
}
/* MAIN */
nav{
    padding-bottom: 7%;
}
nav>ul{
    border-left: 1px rgb(33, 148, 148);
    border-right: 1px rgb(33, 148, 148);
    width: 350px;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: rgb(33, 148, 148);
    margin: auto;
    padding: 5%;
    box-sizing: border-box;

}
li a{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


/* ELEMENTI NEL MAIN - ARTICLE */
main{
    border-top: 1px solid grey; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey; 
   background-color: white;
   width: 350px;
   margin: auto;
   line-height: 30px;
   padding-left: 4%;
   padding-right: 4%;
}
h1{
    font-weight: 900;
    font-size:30px ;
    padding-bottom: 7%;
}
h1+p{
    color: grey;
    padding-bottom: 5%;
}
main p:nth-child(3){
    padding-bottom: 5%;
    
}
strong{
    color: blueviolet;
    font-weight: 700;
}
main p:nth-child(4){
padding-bottom: 5%;
width: 250px;
}
code{
    border: 1px solid  rgb(192, 190, 190);
    background-color: rgb(192, 190, 190);
    border-radius: 10px;
   
}
h2+p{
    padding-bottom: 5%;
}
#testo{
    margin-bottom: 5%;
}
#h2{
    margin-top: 5%;
}
/* TABELLE */
#listal{
    list-style-type: disc;
    margin-bottom: 10%;
    padding-left: 10%;
}
ol{
    list-style-type:decimal ;
    padding-bottom: 5%;
    padding-left: 10%;
}
caption{
    font-style: italic;
    font-weight: bolder;
}
thead tr{
    border: 1px solid rgb(36, 116, 236);
    background-color: rgb(36, 116, 236);
    height: 75px;
    
}
tr th{
    vertical-align: bottom;  
    color: white;
    border: 1px solid grey;
    text-align: center;
    padding: 5%;
}
tr th:first-child{
    width: 90px;
}

table{
    width: 100%;
}
tbody tr{
    height: 50px;
    vertical-align: bottom;
}
tr td{
    vertical-align: bottom;
    padding: 5%;
    text-align: center;
}
tbody tr:nth-child(2n+2){
    border-top:  1px solid burlywood;
    border-bottom:  1px solid burlywood;
    background-color: rgb(233, 225, 215);
}
tbody tr:last-child{
    border-bottom: 2px solid rgb(78, 80, 233);
}
#test{
    padding-top: 10%;
    padding-bottom: 5%;
}
p a{
    color: rgb(74, 144, 236);
    font-weight: 900;
}
#video{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10%;
}
section h2{
    font-size: 30px;
    padding: 7%;
    text-align: center;
    font-weight: 900;
}
section{
    border: 1px solid grey;
    background-color: rgb(228, 223, 223);
    font-family: 'Poppins', sans-serif;
}
form{
    padding: 5%;
    
}
input{
    border: none;
    border-bottom: 1px dashed ;
    width: 75%;
    height: 30px;
}
button{
    border: none;
    background-color: rgb(101, 101, 235);
    color: white;
    height: 30px;
}
section h2+p{
    padding: 5%;
    font-weight: 700;
    
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside{
    border-bottom: 1px solid grey; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey; 
    background-color: white;
    width: 350px;
    margin: auto;
    line-height: 30px;
    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10%;
}
aside h2{
    font-size: 30px;
    padding: 10%;
    text-align: center;
    font-weight: 900;
}
h2+div{
border: 1px solid grey;
background-color: rgb(228, 223, 223);
padding: 5%;
margin-top: 20px;
}
div a{
    font-weight: 900;
    color: rgb(9, 121, 121);
}
#div2{
    border: 1px solid grey;
    background-color: rgb(228, 223, 223);
    padding: 5%;
    margin-top: 20px;
    
}
#div3{
    border: 1px solid grey;
    background-color: rgb(228, 223, 223);
    padding: 5%;
    margin-top: 20px;
    margin-bottom: 20%;
}
h2+div p:last-child{
    text-align: right;  
}
#div2 p:last-child{
    text-align: right;
}
#div3 p:last-child{
    text-align: right;
}
#div2 p:nth-child(2){
    font-weight: 700;
}
#div3 p:nth-child(2){
    font-weight: 700;
}
h2+div p:nth-last-child(2){
    font-weight: 700;
}
/* FOOTER */
footer{
    
        border: 1px solid rgb(33, 148, 148); 
        background-color: rgb(33, 148, 148);
        width: 350px;
        margin: auto;
        line-height: 30px;
        padding-left: 4%;
        padding-right: 4%;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: white;
}
address a{
    color: blueviolet;
    font-weight: 700;
}